html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', "Montserrat", sans-serif;
  overflow-y: scroll;
  background-color: #faf8f5;
}

a {
  color: black;
  text-decoration: none;
}

button {
  font-family: 'Playfair Display', "Montserrat", sans-serif;
}

#end {
  margin-bottom: 10vh;
}

#p1::first-letter {
  float: left;
  font-size: 2.5em;
  line-height: 20px;
  padding-top: 4px;
  padding-right: 3px;
  padding-left: 0px;
}

/* NAV */
nav {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #faf8f5;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 10%;
  height: auto;
}

.logo h1 {
  color: #999999;
  padding-left: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.box {
  background-color: #F48D3D;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: #faf8f5;
  text-align: center;
}

.box-card {
  background-color: #F48D3D;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: #faf8f5;
  text-align: center;
}

.box-submit {
  background-color: #F48D3D;
  padding: 10px;
  margin-top: 50px;
  border-radius: 3px;
  cursor: pointer;
  color: #faf8f5;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

/* Landing */
.text-center {
  text-align: center;
}

.parallax1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('old.jpeg');
  max-width: 100%;
  display: block;
  height: 100vh;
  z-index: -2;
}

.opacity-img {
  font-family: Yellowtail;
  font-size: 75px;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 45%;
  height: 20%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-top: 10px;
  /* padding: 50px; */
  border-radius: 10px;
  color: #bf1b1b;
  opacity: 0.9;
  box-shadow: 1px 1px 10px #bf1b1b;
}

.parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('old.jpeg');
  max-width: 100%;
  display: block;
  height: 50vh;
  z-index: -2;
}

.background-tint {
  background-color: rgba(30, 37, 45, 0.92);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vh 20vw 0 20vw;
  min-height: 100vh;
}

.news-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0vh 10vw 0vh 10vw;
  min-height: 70vh;
}

.news-landing2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0vh 10vw 0vh 10vw;
  min-height: 70vh;
}

.news-landing3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0vh 10vw 0vh 10vw;
  min-height: 70vh;
}

.news-landing4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0vh 10vw 0vh 10vw;
  min-height: 70vh;
}

.news-landing5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0vh 10vw 0vh 10vw;
  min-height: 70vh;
}

.p-landing {
  padding: 4vh;
  font-size: 18px;
  line-height: 30px;
}

.appeal {
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.friends {
  display: flex;
  flex-direction: row;
  padding: 4vh;
  padding-bottom: 10vh;
}

.friends-pic {
  justify-content: center;
}

/* CAROUSEL*/
.carousel {
  background: #faf8f5;
  margin-bottom: 50px;
}

.carousel-cell {
  width: 66%;
  height: 80vh;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.box1 .box2 {
  display: inline-block;
}

/* cell number */
/* .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */
.public-library img {
  position: relative;
  left: 8%;
  width: 80%;
  height: auto;
}

.maine-pres img {
  position: relative;
  left: 0%;
  width: 100%;
  height: auto;
}

.kj {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.kj p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  text-align: center;
}

.kj img {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  top: 10%;
  width: 80%;
  height: auto;
}

/* ABOUT */
#Group {
  width: 95%;
  height: auto;
}

.board-directors h1 {
  font-size: 18px;
  text-align: center;
}

.board-directors {
  text-align: center;
  padding-right: 50px;
}

.directors h1 {
  font-size: 18px;
  text-align: center;
}

.directors {
  text-align: center;
  position: relative;
  top: 24px;
}

.p-directors {
  padding-bottom: 10px;
}

hr {
  color: #2c3e50;
  margin-bottom: 5px;
}

.hr {
  width: 50%;
  margin-left: 26px;
}

.title {
  left: 50%;
  top: 80vh;
  transform: translate(-50%, 50%);
  position: absolute;
  text-align: center;
  z-index: 0;
  font-size: 1em;
  color: rgba(30, 37, 45, 1);
  background-color: #250902;
  /*rgba(30,37,45,0.92)   */
  color: white;
  opacity: 0.9;
  background-blend-mode: multiply;
  padding: 15px;
  border-radius: 20px;
}

.title img {
  width: 100px;
  height: 100px;
}

.img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf8f5;
  font-size: 70px;
}

.img-text-news {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 70px;
}

#LL {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/* NEWS */
#link {
  color: blue;
  text-decoration: underline;
}

#mezzanine {
  width: 40%;
  height: 40%;
}

#appeal {
  width: 50%;
  height: 50%;
}

#news-heading {
  padding: 30px;
}

/* CONTACT */
.form-top {
  margin-top: 30px;
}

.panel {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
  border-radius: 6px;
  border: 0;
}

@-moz-document url-prefix() {
  .form-control {
    height: auto;
  }
}

.panel-primary {
  background-color: #2c3e50;
  color: #fff;
}

.panel-primary>.panel-heading {
  color: #fff;
  font-size: 20px;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-warning {
  background-color: transparent;
  border-color: #bdc3c7;
}

.panel-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -70px;
}

#reused_form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 50px;
  margin-top: 100px;
}

.form-message {
  width: 50%;
  position: relative;
  margin-top: 100px;
}

.form-message label {
  padding: 10px 0px 10px 0px;
}

.form input {
  width: 100%;
  height: 100%;
  color: black;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: #faf8f5;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #F48D3D;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease;
}

.content-name-message {
  position: relative;
  transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
  transform: translateY(-120%);
  font-size: 15px;
  color: #F48D3D;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
  transform: translateX(0%);
  color: black;
}

label {
  display: flex;
  padding-right: 10px;
  justify-content: flex-start;
}

input {
  justify-content: center;
  align-items: baseline;
  font-size: 18px;
}

textarea {
  font-size: 14px;
  width: 50vw;
  height: 20vh;
  padding: 10px;
}

textarea:focus {
  outline: none !important;
  border: 2px solid #F48D3D;
}

.contact-button {
  display: flex;
  justify-content: center;
  padding: 18px 32px 18px 32px;
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-color: #faf8f5;
}

.contact-button:hover {
  background-color: #F48D3D;
  box-shadow: 0px 10px 15px #F48D3D;
  color: #fff;
  transform: translateY(-5px);
  border-color: #F48D3D;
}

#success_message {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error_message {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.footer-container {}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: #faf8f5;
}

.social {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.social img {
  cursor: pointer;
}

#f {
  margin-right: 20px;
}

#t {
  margin-left: 20px;
}

/* animations */
@keyframes jump {
  0% {
    top: -10px;
  }

  50% {
    top: 10px;
  }

  100% {
    top: -10px;
  }
}

#arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 4s infinite;
}

/* Donate */
.card-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.paypal-card {
  margin: 0 auto;
}

.donation-card {
  margin: 0 auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.ff-serif {
  font-family: 'Lora', serif;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-medium {
  font-weight: 500;
}

.lts-1px {
  letter-spacing: 1px;
}

.lts-2px {
  letter-spacing: 2px;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 70%;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute
}

.bg-white {
  background-color: #faf8f5;
}

.small {
  font-size: 0.75rem;
}

.card-heading {
  font-size: 2.25rem;
}

.styled-link {
  text-decoration: none;
  outline: none;
  color: #F48D3D;
  transition: all 0.25s ease-in;
}

.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}

.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}

.blue-hover:hover {
  transform: translateY(-5px);
  mar border: none;
  border-bottom: 5px solid #F48D3D;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/**Margin and padding utilities*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.button-paypal {
  display: flex;
  justify-content: center;
}

/* NAV RESPONSIVE */
@media screen and (max-width:1024px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 7vh;
    background-color: #faf8f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  .burger {
    display: block;
  }

  .friends {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    padding-bottom: 10vh;
  }

  .friends-pic {
    justify-content: center;
  }

  #Group {
    width: 95%;
    height: auto;
  }

  .board-directors h1 {
    font-size: 18px;
    text-align: center;
  }

  .board-directors {
    text-align: center;
    position: relative;
    top: 24px;
    padding-left: 50px;
  }

  .directors h1 {
    font-size: 18px;
    text-align: center;
  }

  .directors {
    text-align: center;
    position: relative;
    top: 24px;
  }

  .p-directors {
    padding-bottom: 10px;
  }

  hr {
    color: #2c3e50;
    margin-bottom: 5px;
    width: 75%;
    margin-left: 40px;
  }

  .hr {
    width: 50%;
    margin-left: 90px;
  }

  .hr-2 {
    width: 60%;
    margin-left: 90px;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 70px;
    background-color: #faf8f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  .burger {
    display: block;
  }

  .title {
    top: 75vh;
  }

  .landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vh 5vw 0 5vw;
    min-height: 100vh;
  }

  .parallax1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('old.jpeg');
    width: 100%;
    display: block;
    height: 100vh;
    z-index: -2;
  }

  .parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('old.jpeg');
    width: 100%;
    display: block;
    height: 50vh;
    z-index: -2;
  }

  .p-landing {
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
  }

  .friends {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    padding-bottom: 10vh;
  }

  .friends-pic {
    justify-content: center;
  }

  #Group {
    width: 95%;
    height: auto;
  }

  .board-directors h1 {
    font-size: 18px;
    text-align: center;
  }

  .board-directors {
    text-align: center;
    position: relative;
    top: 24px;
    padding-left: 50px;
  }

  .directors h1 {
    font-size: 18px;
    text-align: center;
  }

  .directors {
    text-align: center;
    position: relative;
    top: 24px;
  }

  .p-directors {
    padding-bottom: 10px;
  }

  hr {
    color: #2c3e50;
    margin-bottom: 5px;
    width: 75%;
    margin-left: 35px;
  }

  .hr {
    width: 50%;
    margin-left: 70px;
  }

  .hr-2 {
    width: 50%;
    margin-left: 93px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .paypal-card {
    margin: 0 auto;
  }

  .donation-card {
    margin: 0 auto;
  }
}

/* MENU SWITCH */
.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}